.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 25px;
    justify-content: center;
    width: 90%;
    gap: 20px;
}

.sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.sobreMimTitle {
    font-size: 30px;
}

.sobreText {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

.pSobre {
    width: 650px;
     line-height: 1.6;
}