.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 25px;
    justify-content: center;
    width: 85%;
    gap: 20px;
}

.alpha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alphaTitle {
    font-size: 30px;
}

.alphaText {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

.pAlpha {
    width: 650px;
    line-height: 1.6;
}

.containerCards {
    display: flex;
    width: 100%;
    margin-top: 45px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.bpaConteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
}

.bpaItem {
    display: block;
    align-items: center;
    max-width: 50%;
    align-content: flex-start;
}

.images {
    border-radius: 15px;
    margin-bottom: 10px;
    width: 600px;
}

.ativo {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.footerHavaianas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 100px;
    width: 100%;
}

.redes:hover {
    transform: scale(1.1);
}

.contextFotosAlpa {
    display: flex;
    width: 100%;
    margin-top: 45px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (max-width: 1400px) {

    .container {
        width: 100%;
        padding: 0 20px;
        gap: 40px;
    }
   
    .alpha {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .alphaTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .alphaText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pAlpha {
        width: 100%;
        max-width: 85%;
        text-align: center;
    }

    .alpha img {
        width: 80%;
        height: auto;
    }

    .contextFotosAlpa {
        flex-direction: column;
        gap: 20px;
    }

    .contextFotosAlpa img {
        width: 85%;
    }

    .bpaConteiner {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .bpaItem {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .images {
        width: 85%;
        height: auto;
    }

    .ativo {
        grid-template-columns: 1fr;
        width: 85%;
        justify-items: center;
    }

    .ativo img {
        width: 100%;
    }

    .footerHavaianas {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sinestesia {
        height: auto;
        padding: 40px 0;
    }

    .giraFoot {
        display: flex;
        width: 80%;
        height: 80%;
    }
}